.dashboard {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  flex: 1;
  border-radius: 4px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
