.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid #222;
  background-color: #554e4e;
  padding: 2rem;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);

  color: #fff; /* đổi màu chữ sang trắng */
}

/* Tiêu đề chữ sáng rõ */
.card-spotlight h6,
.card-spotlight .MuiTypography-h6 {
  color: #fff;
}

/* Mô tả chữ sáng hơn nền nhưng nhạt hơn tiêu đề */
.card-spotlight p,
.card-spotlight .MuiTypography-body2 {
  color: rgba(255, 255, 255, 0.7);
}

.card-spotlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 80%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}
