body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1;
}


/* custom scrollbar */
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb{
  background: #8b8989;
  border-radius: 10px;
}


